.Container {
    justify-content: center;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
    
}

.Piece {
    cursor: grab;
}

.Gamebutton {
    background-color:lawngreen;
    border: none;
    color:black;
    padding: 20px;
    font-size: 20px;
    margin-top: 50px;
    cursor: pointer;
    width: 110px;
    margin-right: 5px;
}

.Gamebutton:hover {
    background-color: coral;
}

.Clear {
    clear: both;
    float: none;  
    text-align: center;  
}

.PopUp {
    position: absolute;
    color:#444;
    background: rgba(255,255,255,0.7);
}

.PopUp.internal {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.PopUp.internal.close {
    padding: 5px;
    position: absolute;
    width: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.25);
}

.modal_content {
    background-color: white;
    position: absolute;
}


/* grabbing, no-drop  */