.GameSuiteHeader {
  padding: 8px 25px;
  margin: 5px 10px;
  border-radius: 5px;
  border-color: #ed820e;
  background-color: aquamarine;
  color: #150531;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.GameSuiteGames {
  padding: 8px 25px;
  margin: 5px 10px;
  border-radius: 5px;
  color: #150531;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-decoration: underline;
}

.GameSuiteComingSoon {
  display: flex;
  justify-content: space-evenly;
  padding: 8px 25px;
  margin: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  color: #150531;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-decoration: underline;
}

.BackButton{
  padding: 8px 25px;
  margin: 5px 10px;
  border-radius: 5px;
  color:#150531;
  text-align: left;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-decoration: underline;
  position: absolute;
  right: 1;
  width: 20px;
  height: 10px;
}


.Checkers {
  position: relative;
  padding: 8px 25px;
  margin: 5px 10px;
  border-radius: 5px;
  color: #150531;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
  padding-left: 34%;
  text-align: center;
}

.whiteSquare {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 1px solid white;
  padding: 1px;
  font-size: 30px;
  text-align: center;
}

.redPiece {
  background-image: url(images/red-checkers-piece.png);
  background-size: 45px 45px;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  background-color: white;
  border: 1px solid white;
  padding: 1px;
  font-size: 30px;
  text-align: center;
}

.blackPiece {
  background-image: url(./images/Black-checkers-piece.png);
  background-size: 45px 45px;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  background-color: white;
  border: 1px solid white;
  padding: 1px;
  font-size: 30px;
  text-align: center;
}


.blackSquare {
  height: 50px;
  width: 50px;
  background-color: black;
  border: 1px solid black;
  padding: 1px;
  font-size: 30px;
  text-align: center;
  color: white;
}

.Settings{
  padding: 8px 20px;
  margin: 5px 40px;
  border-radius: 0px;
  color:#150531;
  text-align: right;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  position: absolute;
  right: 0;
  width: 20px;
  height: 10px;
  text-decoration: underline;
}
